extends layout

block content
  include nav
  .detail#detail
    .res
      h2 近年研究領域
      ul 
        li 區塊鏈與智能合約(Blockchain and Smart contracts)
        li 社群媒體資料分析
        li 雲端計算環境下之應用系統設計議題(Multi-tenant support for SaaS)
        li 程式語言原理與應用
